.header {
  width: 100%;
  display: flex;
  background: #051026;
  color: white;

  .header__desktopLinks {
    display: none;
  }
  .header__bLogo {
    display: none;
  }
  .header__wLogo {
    padding: 0.5rem;
    margin: 0 auto;
  }
}
